- @page_title = t('vinus.vendors.vendors')

= content_for :header do
  %p.buttons= link_to t('vinus.vendors.back') , :countries, class: 'button'
  %h2.countries= t('vinus.vendors.vendors')

= render 'form'
